<import: src="./tracker">
<import: src="./users">

<Header:>
  <body class="{{dash($ns)}}">
  <ui:connectionAlert>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">KVARG tracker</a>
        <div class="nav-collapse">
          <ul class="nav">
            <!-- Other templates are included like HTML elements -->
            <app:navLink title="Tracker" href="/">
            <app:navLink title="Users" href="/users">
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">

<Footer:>
    </div>
  </div>
  <footer>
    <div class="container">
      <p>&copy; Jesper Persson</p>
    </div>
  </footer>

<navLink:>
  <li class="{{#if equal($url, @href)}}active{{/}}">
    <a href="{{@href}}">{{@title}}</a>
  </li>
