<import: src="./tracker">
<import: src="./users">

<Header:>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
  <body class="{{dash($ns)}}">
  <header>
    <div class="container">
      <ui:connectionAlert>
      <div class="logo">KVARG tracker</div>
        <!-- Other templates are included like HTML elements -->
      <ul>
        <app:navLink title="Tracker" href="/">
        <app:navLink title="Users" href="/users">
      </ul>
    </div>
  </header>
  <div class="container">
    
<Footer:>
  </div>
  <footer>
    <div class="container">
      <p>&copy; Jesper Persson</p>
    </div>
  </footer>

<navLink:>
  <li class="{{#if equal($url, @href)}}active{{/}}">
    <a href="{{@href}}">{{@title}}</a>
  </li>
