<Body:>
<div class="container main">
  <table>
    <thead>
        <tr>
            <th>User</th>
            <th>KVARG Count</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      {#each _page.users as :user}
        <tr>
          <td class="{#if belowLimit(:user)}red{/}">{{:user.name}} </td>
          <td class="{#if belowLimit(:user)}red{/}">{:user.kvargCount}</td>
          <td class="right"> 
            <a type="submit" x-bind="click: user.inc" class="btn square"> + </a> 
            <a type="submit" x-bind="click: user.dec" class="btn square red"> - </a>
          </td>
        </tr>
      {/}
    </tbody>
  </table>

  <div class="loner">
    <p class="huge"> Total KVARG in storage: {_page.totalKvarg} </p>
    <p> Total PROTEIN in storage: {multiply(_page.totalKvarg, 60)}g </p>
  </div>
</div>
