<Body:>
  <div class="row">
    <form class="span3" x-bind="submit: user.add">
      <h3>Add user</h3>
      <fieldset>
        <label>Name</label>
        <input type="text" value={_page.newUser.name}>
        <label>Initial KVARG</label>
        <input type="number" value={_page.newUser.kvargCount}>
        <div>
          <button type="submit" class="btn">Add</button>
        </div>
      </fieldset>
    </form>
    <div class="span8 offset1">
      <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>KVARG Count </th>
            </tr>
        </thead>
        <tbody>
          {#each _page.users as :user}
            <tr>
              <td> 
                <div class="independant">
                    <button type="submit" class="btn btn-default btn-xs" x-bind="click: user.inc"> + </button>
                    {{:user.name}} 
                    <button type="submit" class="btn btn-default btn-lg" x-bind="click: user.dec"> - </button>
                </div>
            </td>
              <td>{:user.kvargCount} </td>
              <td><button type="submit" class="btn" x-bind="click: user.remove">Remove user</button></td>
            </tr>
          {/}
        </tbody>
      </table>
    </div>
    TOTAL KVARG: {_page.totalKvarg}
  </div>
