@import '../vendor/normalize.css'
@import 'nib/vendor'
@import './tracker'

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700,300')

blue = #689EE5
red = #FF362F
gray = #5B5C60

*
  box-sizing border-box

html, body
  margin 0
  padding 0
  font 1.1em/1.5 'Open Sans'

header
  margin-bottom 2em
  padding 0 1em
  background #222
  color gray

  .logo
    display inline-block

  ul, li
    display inline-block

  li a
    margin-left 1em
    text-decoration none

a
  color gray

.btn
  display inline-block
  margin-left 0.3em
  padding 0.2em 0.4em
  background blue
  color white
  text-align center
  border 1px solid darken(blue, 20%)
  border-radius 0.3em
  text-decoration none

  &.square
    font-family monospace
    padding 0 0.42em

  &.red
    background red
    border 1px solid darken(red, 20%)
    text-color gray    

.active a
  color white

form
  margin-bottom 2em
  
  &.inline-form
    label, input
      display block
    input
      margin-bottom 1em
      width 100%
    input[type="submit"]
      margin 0
      display inline-block
      width auto


table
  width 100%
  border-collapse collapse

  thead th
    text-align left

  tr
    border-bottom 1px solid #ddd

  td
    padding 0.2em
    &.right
      text-align right

  .btn
    font-size 0.8em
    &.square
      font-size 1.2em  

.huge
  font-size 2em
  margin-bottom 0

.container
  position relative
  margin 0 auto
  max-width 30em
  
.user .container
  max-width 50em

.sidebar
  width 25%
  margin-right 5%

.content
  width 70%

.sidebar, .content
  float left
  @media (max-width: 40em)
    float none
    width 100%

.clearfix:after
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;


footer
  margin-top 3em

@media (max-width: 30em)
  body
    font-size 0.9em
  .main
    padding 0 1em
  

